body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Menu latéral */
#menu {
  width: 250px;
  background-color: #f0f0f0;
  padding: 10px;
  overflow-y: auto;
  height: 100vh;
  position: fixed;
}

#frise-container {
  margin-left: 250px;
  padding: 10px;
  overflow: auto;
}

#timeline {
  border: 1px solid #ccc;
  background-color: #fff;
}
